fse_campania/include/tracciati/StatoConsensi/StatoConsensiRichiesta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://statoconsensirichiesta.xsd.fse.ini.finanze.it" xmlns:td="http://tipodatistatoconsensi.xsd.fse.ini.finanze.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://statoconsensirichiesta.xsd.fse.ini.finanze.it" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://tipodatistatoconsensi.xsd.fse.ini.finanze.it" schemaLocation="TipiDatiStatoConsensi.xsd"/>
	<xs:annotation>
		<xs:documentation>Versione 1.2</xs:documentation>
	</xs:annotation>
	<xs:element name="StatoConsensiRichiesta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IdentificativoUtente" type="td:stringTypeMax16">
					<xs:annotation>
						<xs:documentation>Id utente</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="pinCode" type="td:stringTypeMax256" minOccurs="0">
					<xs:annotation>
						<xs:documentation>PinCode utente SistemaTS</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="IdentificativoOrganizzazione" type="td:stringType3">
					<xs:annotation>
						<xs:documentation>Codifica Tabella 5.4-3 di Affinity domain</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DescrizioneOrganizzazione" type="td:stringTypeMax30" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Descrizione Tabella 5.4-3 di Affinity domain</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StrutturaUtente" type="td:stringTypeMax20" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Codifica HSP.11 - HSP.11bis - STS.11 - RIA.11</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RuoloUtente" type="td:stringTypeMax3" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Tabella 5.4-1 di Affinity domain</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ContestoOperativo" type="td:stringTypeMax12" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Tabella 5.4-2 di Affinity domain</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="IdentificativoAssistitoGenitoreTutore" type="td:stringTypeMax16">
					<xs:annotation>
						<xs:documentation>Codice fiscale dell'assistito cui si riferisce la richiesta o del genitore/tutore che ha richiesto l'operazione</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PresaInCarico" type="td:stringTypeMax5" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Tabella 5.4-4 di Affinity domain</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TipoAttivita" type="td:stringTypeMax6" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Tabella 5.4-5 di Affinity domain</xs:documentation>
					</xs:annotation>
				</xs:element>		
				<xs:element name="IdentificativoAssistitoConsenso" type="td:stringTypeMax16">
					<xs:annotation>
						<xs:documentation>Codice fiscale dell'assistito a cui si riferisce la richiesta</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OpzioniRequest" type="td:opzioniType" maxOccurs="unbounded" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Elenco campi opzionali</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
