fse_campania/include/tracciati/ComunicazioneInformativa/ComunicazioneInformativaRichiesta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://comunicazioneinformativarichiesta.xsd.fse.ini.finanze.it" xmlns:td="http://tipodaticomunicazioneinformativa.xsd.fse.ini.finanze.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://comunicazioneinformativarichiesta.xsd.fse.ini.finanze.it" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://tipodaticomunicazioneinformativa.xsd.fse.ini.finanze.it" schemaLocation="TipiDatiComunicazioneInformativa.xsd"/>
	<xs:annotation>
		<xs:documentation>Versione 1.2</xs:documentation>
	</xs:annotation>
	<xs:element name="ComunicazioneInformativaRichiesta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IdentificativoUtente" type="td:stringTypeMax16">
					<xs:annotation>
						<xs:documentation>Id utente</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="pinCode" type="td:stringTypeMax256" minOccurs="0">
					<xs:annotation>
						<xs:documentation>PinCode utente SistemaTS</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="IdentificativoOrganizzazione" type="td:stringType3">
					<xs:annotation>
						<xs:documentation>Codifica Tabella 5.4-3 di Affinity domain</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StrutturaUtente" type="td:stringTypeMax20" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Codifica HSP.11 - HSP.11bis - STS.11 - RIA.11</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RuoloUtente" type="td:stringTypeMax3" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Tabella 5.4-1 di Affinity domain</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TipoAttivita" type="td:stringTypeMax6" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Tabella 5.4-5 di Affinity domain</xs:documentation>
					</xs:annotation>
				</xs:element>		
				<xs:element name="IdentificativoRegione" type="td:stringType3">
					<xs:annotation>
						<xs:documentation>Codifica secondo la  Tabella 5.4-3 del documento di Affinity Domain</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Informativa" type="xs:base64Binary">
					<xs:annotation>
						<xs:documentation>Informativa dei consensi</xs:documentation>
					</xs:annotation>
				</xs:element>	
				<xs:element name="TipoMimeInformativa" type="td:stringTypeMax256" minOccurs="0">
					<xs:annotation>
						<xs:documentation>es. application/pdf</xs:documentation>
					</xs:annotation>
				</xs:element>	
				<xs:element name="Modulistica" type="xs:base64Binary">
					<xs:annotation>
						<xs:documentation>Modulistica per acquisizione consensi</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TipoMimeModulistica" type="td:stringTypeMax256" minOccurs="0">
					<xs:annotation>
						<xs:documentation>es. application/pdf</xs:documentation>
					</xs:annotation>
				</xs:element>						
				<xs:element name="OpzioniRequest" type="td:opzioniType" maxOccurs="unbounded" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Elenco campi opzionali</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
