fse_campania/include/tracciati/ComunicazioneConsensi/ComunicazioneConsensiRicevuta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://comunicazioneconsensiricevuta.xsd.fse.ini.finanze.it" xmlns:td="http://tipodaticomunicazioneconsensi.xsd.fse.ini.finanze.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://comunicazioneconsensiricevuta.xsd.fse.ini.finanze.it" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://tipodaticomunicazioneconsensi.xsd.fse.ini.finanze.it" schemaLocation="TipiDatiComunicazioneConsensi.xsd"/>
	<xs:annotation>
		<xs:documentation>Versione 1.2</xs:documentation>
	</xs:annotation>
	<xs:element name="ComunicazioneConsensiRicevuta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Esito" type="td:codEsitoType">
					<xs:annotation>
						<xs:documentation>Esito della transazione</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ElencoErrori" type="td:elencoErroriType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Ripetizione di Errore</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RegioneAssistenza" type="td:stringType3" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Codice regione di assistenza</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OpzioniResponse" type="td:opzioniType" maxOccurs="unbounded" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Elenco campi opzionali</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
