fse_campania/include/tracciati/TrasferimentoIndice/TrasferimentoIndiceRicevuta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://trasferimentoindicericevuta.xsd.fse.ini.finanze.it" xmlns:td="http://tipodatitrasferimentoindice.xsd.fse.ini.finanze.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://trasferimentoindicericevuta.xsd.fse.ini.finanze.it" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://tipodatitrasferimentoindice.xsd.fse.ini.finanze.it" schemaLocation="TipiDatiTrasferimentoIndice.xsd"/>
	<xs:annotation>
		<xs:documentation>Versione 1.2</xs:documentation>
	</xs:annotation>
	<xs:element name="TrasferimentoIndiceRicevuta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Esito" type="td:codEsitoType">
					<xs:annotation>
						<xs:documentation>Esito della transazione</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ElencoErrori" type="td:elencoErroriType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Ripetizione di Errore</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Metadato" type="td:metadatoTrasferimentoType" maxOccurs="unbounded" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Metadato del documento</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OpzioniResponse" type="td:opzioniType" maxOccurs="unbounded" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Elenco campi opzionali</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ElencoCFAssistito" type="td:elencoCFAssistitoType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Elenco Identificativi assistito</xs:documentation>
					</xs:annotation>
				</xs:element>	
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
