fse_campania/include/tracciati/RecuperoInformativa/RecuperoInformativaRicevuta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://recuperoinformativaricevuta.xsd.fse.ini.finanze.it" xmlns:td="http://tipodatirecuperoinformativa.xsd.fse.ini.finanze.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://recuperoinformativaricevuta.xsd.fse.ini.finanze.it" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://tipodatirecuperoinformativa.xsd.fse.ini.finanze.it" schemaLocation="TipiDatiRecuperoInformativa.xsd"/>
	<xs:annotation>
		<xs:documentation>Versione 1.2</xs:documentation>
	</xs:annotation>
	<xs:element name="RecuperoInformativaRicevuta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Esito" type="td:codEsitoType">
					<xs:annotation>
						<xs:documentation>Esito della transazione</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ElencoErrori" type="td:elencoErroriType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Ripetizione di Errore</xs:documentation>
					</xs:annotation>
				</xs:element>		
				<xs:element name="IdentificativoInformativa" type="td:stringTypeMax256" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Identificativo dell'informativa</xs:documentation>
					</xs:annotation>
				</xs:element>	
				<xs:element name="Informativa" type="xs:base64Binary" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Informativa dei consensi</xs:documentation>
					</xs:annotation>
				</xs:element>	
				<xs:element name="TipoMimeInformativa" type="td:stringTypeMax256" minOccurs="0">
					<xs:annotation>
						<xs:documentation>es. application/pdf</xs:documentation>
					</xs:annotation>
				</xs:element>	
				<xs:element name="Modulistica" type="xs:base64Binary" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Modulistica per acquisizione consensi</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TipoMimeModulistica" type="td:stringTypeMax256" minOccurs="0">
					<xs:annotation>
						<xs:documentation>es. application/pdf</xs:documentation>
					</xs:annotation>
				</xs:element>		
				<xs:element name="OpzioniResponse" type="td:opzioniType" maxOccurs="unbounded" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Elenco campi opzionali</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
